html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Kotak tengah */
.wrapper {
  width: 400px;
  height: 250px;
  background-color: rgb(16, 69, 77);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

  /* Buat kotaknya di tengah layar */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}